<launch>

    <include file="$(find hound_core)/launch/apm.launch"/>
    <include file="$(find ydlidar)/launch/lidar.launch"/>
    <include file="$(find hound_core)/launch/realsense_d435_HOUND.launch"/>
    <include file="$(find hound_core)/launch/vesc_driver_node.launch"/>
    <node pkg="hound_core" type="vesc_to_odom.py" name="vesc_odom" output="log"/>
    <!--include file="$(find hound_core)/launch/HOUND_vis_odom.launch.launch"/>-->

</launch>
